div {
  border: 20px solid #000; /* this is short hand for setting
                            the border's width, its type, and color */
  display: inline-block; /* a way of positioning elements */
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}

#red{
  border-color:red;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#orange{
  border-color:orange;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#yellow{
  border-color: yellow;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#green{
  border-color: green;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#blue{
  border-color: blue;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#indigo{
  border-color: indigo;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
#violet{
  border-color: violet;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}